@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.introContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40vh;
	background-color: #000;
}

.intro > h1 {
	color: white;
	font-family: "Raleway", sans-serif;
}

.title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title > p {
	color: red;
	font-family: "Raleway", sans-serif;
}
.navbar{
	background-color: #BE3144;
}
#project {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: auto;
	background-color: #45567d;
	font-family: "Raleway", sans-serif;
}
#project h3{
	color: white;
	margin-top: 150px;
	margin-bottom: 30px;
	padding-bottom: 15px;
	border-bottom: solid white;
	text-align: center;
}
.card{
	height: 360px !important;
	border: #000;
}
.card-footer{
	background-color: #303841;
}
.card-footer p{
	font-size:16px;
	font-weight: 500;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;
}

.btn{
	justify-content: center;
	align-items: center;
}
.btn a{
	color: white;
	text-align: center;
}